.service-container {
  padding: 20px;
}

.slots-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.slot-btn {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  color: #4caf50;
}

.slot-btn:hover {
  background: #f0f0f0;
  color: #4caf50;  
}

.slot-selected {
  background: #4caf50;
  color: white;
  border-color: #4caf50;
}

.slot-disabled {
  background: #ddd;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
}

.book-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


.book-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}